/*    Cabeçalho    */

body{
  width:80%;
  margin-left:10%;
}

.Bloco1{
  display: grid;
  background-color: grey;
}
.imgcab{
  height: 150px;
  margin-top: 6%;
  margin-left: 6%;
  margin-right: 120%;
}
.lista1 :hover{
  height: 150px;
  margin-top: 6%;
  margin-left: 60%;
  margin-right: 60%;
  display: inline-inline-block;
}
